.hero {
  width: 100vw;
  min-height: 130vh;
  background-color: #000;
  position: relative;
}

.hero-center {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.h-t {
  font-size: 1rem;
  font-family: "Aeonik";
  letter-spacing: 1px;
  line-height: 1.3rem;
  color: #ffffff;
  font-weight: 500;
}

.hero-sub {
  color: #fff;
  font-family: "Aeonik";
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 30px;
  font-size: 14px;
}

.smiley {
  position: absolute;
  z-index: 4;
  top: 10%;
  right: 15.75rem;
  animation: smiley 5s linear infinite;
}

.rect {
  width: 550px;
  height: 700px;
  background-image: url("https://abhishekjha.me/2020/photos/load.gif");
  background-size: cover;
  background-position: center;
}

.no-out {
  top: 60%;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.no-out span {
  overflow: hidden;
  white-space: nowrap;
  gap: 1rem;
}

.no-out span h1 {
  font-size: 110px;
  color: #fff;
  font-family: "Monument Extended";
  font-stretch: expanded;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
}

.out {
  top: 60%;
  position: absolute;
  left: 0;
  z-index: 3;
  overflow: hidden;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.out span {
  overflow: hidden;
  white-space: nowrap;
}

.out span h1 {
  font-size: 110px;
  font-family: "Monument Extended";
  font-weight: 900;
  font-stretch: expanded;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.outline {
  -webkit-text-stroke: 0.02em #fff;
  color: transparent;
}

@media only screen and (max-width: 595px) {
  .hero {
    width: 100vw;
    min-height: 130vh;
    background-color: #000;
    position: relative;
  }

  .hero-center {
    position: absolute;
    top: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 0 80px;
  }

  .h-t {
    font-size: 1rem;
    font-family: "Aeonik";
    letter-spacing: 1px;
    line-height: 1.3rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: 10px;
  }

  .smiley {
    top: 10%;
    right: 50px;
  }
}

@media only screen and (max-width: 1370px) {
  .hero{
    display: none;
  }
}


@keyframes smiley {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
