nav {
  position: fixed;
  overflow: hidden;
  z-index: 99;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 20px 80px;
}

.logo img {
  width: 8%;
}

.logo{
  font-family: "Aeonik";
  color: #fff;
}

.name{
  font-weight: 400;
  font-size: 15px;
}

.links a{
  text-decoration: none;
  color: #fff;
  font-family: "Aeonik";
}

.aboutme a h1{
  font-size: 15px;
  font-weight: 400;
}

@media only screen and (max-width: 595px) {
  nav {
    position: fixed;
    overflow: hidden;
    z-index: 99;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 1370px) {
  nav{
    display: none;
  }
}