.projects {
  width: 100%;
  min-height: 270vh;
}

.project-wraper {
  width: 100%;
  min-height: inherit;
  background: #000;
  border-radius: 50px;
  margin: 0 auto;
  overflow: hidden;
}

.p-title{
  padding: 60px ;
  color: #ffffff;
  font-family: "Review Regular";
  font-size: 36px;
}

.project-container{
  /* display: flex; */
  flex-shrink: 0;
  margin-left: 60px;
  margin-top: 80px;
}

.project1{
  display: flex;
  align-items: center;  
  width: 100%;
  height: 600px;
  /* background-color: aliceblue; */
  margin-right: 50px;
}

.p1-img{
  width: 50%;
  /* background-color: aqua; */
}

.p1-img img{
  width: 100%;
  /* height: 600px; */
  background-size: contain;
  border-radius: 50px;
}

.p1-txt{
  width: 40%;
  margin-left: 50px;
}

.p1-title{
  font-family: "Review Regular";
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}










.project2{
  display: flex;
  align-items: center;  
  width: 100%;
  height: 600px;
  /* background-color: aliceblue; */
  margin-right: 50px;
  margin-top: 150px;
}

.p2-img{
  width: 50%;
  /* background-color: aqua; */
}

.p2-img img{
  width: 100%;
  /* height: 600px; */
  background-size: contain;
  border-radius: 50px;
}

.p2-txt{
  width: 40%;
  margin-left: 50px;
}

.p2-title{
  font-family: "Review Regular";
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}






.project3{
  display: flex;
  align-items: center;  
  width: 100%;
  height: 600px;
  /* background-color: aliceblue; */
  margin-right: 50px;
}

.p3-img{
  width: 50%;
  /* background-color: aqua; */
}

.p3-img img{
  width: 100%;
  /* height: 600px; */
  background-size: contain;
  border-radius: 50px;
}

.p3-txt{
  width: 40%;
  margin-left: 50px;
}

.p3-title{
  font-family: "Review Regular";
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 20px;
}








.btn-link {
  display: inline;
}

.btn-link-cta {
  text-decoration: none;
  color: #fff;
}

.btn-link-cta {
  overflow: hidden;
  transform: translateZ(0);
  border-radius: 1000px;
  transition: transform 0.3s;
  font-family: "Review Regular", sans-serif;
}

.btn-link-cta.-xxl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 70px;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
  text-decoration: none;
}
.btn-border {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1px;
  z-index: 3;
  border: 1px solid;
  border-radius: 1000px;
  color: #fff;
}

.btn-ripple {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  transform: translateZ(0);
  border-radius: inherit;
}

.btn-ripple span {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background-color: #fff;
  border-radius: 50% 50% 0 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.cb-btn_cta-title {
  position: relative;
  display: block;
  padding: 0 0.16em 0 0;
  overflow: hidden;
  z-index: 2;
}

.btn-title {
  position: relative;
  display: block;
  padding: 0 0.16em 0 0;
  overflow: hidden;
  z-index: 2;
  color: #fff;
}

.btn-title span {
  display: block;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.btn-title span:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  color: #000;
}



.other-projects{
  width: 100%;
  min-height: 80vh;
  /* background-color: #5f5f5f; */
  margin-top: 130px;
}

.op-container{
  width: 100%;
  display: flex;
  align-items: center;
}

.op1 img{
  margin-right: 30px;
}

.op2 img{
  margin-right: 30px;
}

.op3 img{
  margin-right: 30px;
}

.op4 img{
  margin-right: 30px;
}

.op5 img{
  margin-right: 30px;
}






@media (pointer: fine) {
  .btn-link-cta:hover .btn-title span {
    transform: translateY(-110%);
  }
}

@media (pointer: fine) {
  .btn-link-cta:hover .btn-ripple span {
    border-radius: 0;
    transform: translateY(0);
    transition-duration: 0.5s, 0.9s;
  }
}

@media (min-width: 768px), (orientation: landscape) {
  .btn-border {
    border-width: 1px;
  }
}

@media (pointer: fine) {
  .btn-link-cta:hover {
    transform: scaleX(1.02);
    transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
  }
}
@media (min-width: 768px), (orientation: landscape) {
  .btn-link-cta {
    font-size: 2.4rem;
  }
}



/* .project-container {
  display: flex;
  flex-shrink: 0;
  margin-left: 60px;
}

.project-container .card {
  align-items: stretch;
  width: 700px;
  height: 600px;
  padding: 50px 40px;
  border-radius: 38px;
  color: #f6f2e8;
  margin-right: 50px;
}



.project1{
  width: 700px;
  height: 600px;
  margin-right: 50px;
}

.project1 .card{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2732C;
  overflow: hidden;
}

.project1 .p1-img{
  width: 700px;
  height: 600px;
  object-fit: cover;
}

.card h2 {
  font-family: "Review Regular";
}

.project2 .card{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #91abff;
  overflow: hidden;
}

.project2 .p2-img{
  width: 800px;
  height: 600px;
  object-fit: cover;
}



@media screen and (max-width: 1160px) {
  .projects{
    min-height: 70vh;
  }

  .project-container{
    min-height: 70vh;
  }
} */