.projects {
  width: 100vw;
  min-height: 150vh;
  padding: 9.375rem 5.25rem;
  /* background-color: #161616; */
}

.p-title h1{
  font-family: "Monument Extended";
  font-size: 80px;
  margin-bottom: 50px;
  color: #fff;
}

.project-container {
  width: 100%;
  height: 150vh;
}

.row-one {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75vh;
}

.p-one {
  width: 49%;
  height: 100%;
  background-color: #e5e0fb;
  border-radius: 20px;
}

.p-one-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8bbff;
  border-radius: 20px;
}

.p-one-img img {
  width: 31.25rem;
}

.p-one-txt{
  margin-top: 10px;
}

.p-one-txt h1{
  color: #fff;
  font-size: 32px;
  font-family: "Aeonik";
  font-weight: 400;
}

.p-two {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  background-color: #cedcf4;
}

.p-two-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #cedcf4;
}

.p-two-img img {
  width: 34.375rem;
}

.p-two-txt{
  margin-top: 10px;
}

.p-two-txt h1{
  color: #fff;
  font-size: 32px;
  font-family: "Aeonik";
  font-weight: 400;
}

.row-two {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75vh;
  padding-top: 150px;
}

.p-three {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  background-color: #cedcf4;
}

.p-three-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #F4EFE9;
}

.p-three-img img {
  width: 34.375rem;
}

.p-three-txt{
  margin-top: 10px;
}

.p-three-txt h1{
  color: #fff;
  font-size: 32px;
  font-family: "Aeonik";
  font-weight: 400;
}

.p-four {
  width: 49%;
  height: 100%;
  border-radius: 20px;
  background-color: #cedcf4;
}

.p-four-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffd0b7;
}

.p-four-img img {
  width: 34.375rem;
}

.p-four-txt{
  margin-top: 10px;
}

.p-four-txt h1{
  color: #fff;
  font-size: 32px;
  font-family: "Aeonik";
  font-weight: 400;
}

@media only screen and (max-width: 595px) {
  .projects {
    width: 100vw;
    min-height: 150vh;
    padding: 1rem;
  }

  .p-title h1{
    font-family: "Monument Extended";
    font-size: 40px;
    margin-bottom: 50px;
    color: #fff;
  }

  .row-one {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .p-one {
    width: 100%;
    height: 80%;
    background-color: #e5e0fb;
    margin-bottom: 10px;
  }
  
  .p-one-img img {
    width: 15.625rem;
  }

  .p-two {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
  }

  .p-two-img img {
    width: 15.625rem;
  }

  .row-two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
  }

  .p-three {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
    margin-bottom: 10px;
  }

  .p-three-img img {
    width: 15.625rem;
  }

  .p-four {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
  }

  .p-four-img img {
    width: 15.625rem;
  }
}

/* @media only screen and (min-width: 600px) {
  .projects {
    width: 100vw;
    min-height: 150vh;
    padding: 1rem;
  }

  .row-one {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .p-one {
    width: 100%;
    height: 80%;
    background-color: #e5e0fb;
    margin-bottom: 10px;
  }
  
  .p-one-img img {
    width: 15.625rem;
  }

  .p-two {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
  }

  .p-two-img img {
    width: 15.625rem;
  }

  .row-two {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
  }

  .p-three {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
    margin-bottom: 10px;
  }

  .p-three-img img {
    width: 15.625rem;
  }

  .p-four {
    width: 100%;
    height: 80%;
    background-color: #cedcf4;
  }

  .p-four-img img {
    width: 15.625rem;
  }
} */
