@font-face {
  font-family: "Regular";
  src: url("../fonts/DarkerGrotesque-Regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/DarkerGrotesque-Medium.ttf");
}

@font-face {
  font-family: "Semi";
  src: url("../fonts/DarkerGrotesque-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
  font-family: "Regular";
}

a{
  text-decoration: none;
}

.reveal {
  overflow: hidden;
  display: block;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.875rem 3.125rem 1.875rem 3.125rem;
}

.logo {
  display: flex;
  align-items: end;
}

.logo .name {
  color: #2D67BF;
  font-size: 1.625rem;
  line-height: normal;
  margin-right: 0.5rem;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: "Regular";
  font-weight: 500;
  margin-left: 2rem;
}

.links a:hover {
  color: #5858ed;
  transition: all 0.5s ease;
}

.resume {
  display: inline-flex;
  padding: 0.813rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  border: 1px solid #4343ed;
  background: #1b1b3d;
  color: #ffffff;
  font-family: "Semi";
  font-size: 1.25rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.resume:hover {
  background-color: #2D67BF;
}

.nav-left{
  display: flex;
  align-items: center;
}

.menu{
  margin-left: 20px;
  width: 40px;
  visibility: hidden;
  /* display: none; */
}



/* @media only screen and (max-width: 767px){

  .menu{
    visibility: visible;
  }

  nav .links{
    display: none;
  }  
} */


/* @media only screen and (max-width: 640px){

  .logo .name {
    font-size: 1.25rem;
    line-height: normal;
  }

  .logo img{
    width: 1rem;
  }

  .resume{
  font-size: 1rem;
  }

  .menu{
    visibility: visible;
  }

  nav .links{
    display: none;
  }
} */

/* @media only screen and (max-width: 490px){
  .nav-left a{
    display: none;
  }
} */

@media only screen and (max-width: 390px) and (min-width : 300px){

  nav{
    padding: 1.5rem 1rem;
  }

  .logo .name {
    font-size: 1.25rem;
    line-height: normal;
  }

  .logo img{
    width: 1rem;
  }

  .nav-left{
    display: flex;
    align-items: center;
  }
  
  .resume {
    padding: 0.813rem 1rem 1rem 1rem;
    font-size: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
  }
}





















.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 0vh;
}

.hero-img {
  margin: 70px 0 70px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-txt {
  /* margin: 0 auto; */
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  /* background-color: rgb(38, 44, 48); */
}

.hero-txt .sub-txt {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.h-txt {
  color: #fff;
  font-size: 5.938rem;
  font-weight: 600;
  line-height: 5.625rem;
}

.blue-txt {
  color: #2D67BF;
}


@media only screen and (max-width: 640px){
.hero-img img{
  width: 1200px;
}

.h-txt{
font-size: 5.313rem;
line-height: 5rem;
}
}

@media only screen and (max-width: 560px){
.h-txt{
  font-size: 4.688rem;
  line-height: 4.375rem;
  }
}

@media only screen and (max-width: 560px){
.h-txt{
  font-size: 60px;
  line-height: 4.375rem;
  }
}

@media only screen and (max-width: 390px){
.hero-txt {
  top: 30%;
  text-align: center;
}

.hero-img img{
  width: 1050px;
}

.h-txt{
  font-size: 50px;
  line-height: 45px;
  }
}














.about {
  position: relative;
  width: 100%;
  min-height: 60vh;
  padding: 100px 0 100px 50px;
  overflow: hidden;
}

.about-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #1f1f1f;
  border-radius: 0.625rem;
  border: 1px solid #353535;
  padding: 0px 32px 8px 32px;
}

.about-tag p {
  color: #fff;
  font-size: 32px;
  margin-right: 0.75rem;
  line-height: normal;
}

.about-tag img {
  width: 1.5;
  height: 1.5;
  flex-shrink: 0;
  margin-top: 6px;
}

.about-txt {
  width: 70%;
  color: #fff;
  font-family: "Darker Grotesque";
  font-size: 5.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  margin-top: 3.75rem;
}

.about-sub-txt {
  width: 45%;
  color: #858585;
  font-size: 1.25rem;
  margin-top: 2.06rem;
}

.about-crc {
  position: absolute;
  top: 170px;
  right: -5%;
  width: 19.25rem;
  height: 19.25rem;
  flex-shrink: 0;
  border-radius: 19.25rem;
  border: 1px solid #353535;
  background: #141414;
}

@media only screen and (max-width: 1300px){
  .about-txt {
    font-size: 5.313rem;
    font-weight: 400;
    line-height: 5rem;
    margin-top: 3.75rem;
  }
}

@media only screen and (max-width: 1300px){
  .about-txt {
    font-size: 4.688rem;
    font-weight: 400;
    line-height: 4.375rem;
    margin-top: 3.75rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 390px){
  .about{
    padding: 6.25rem 1rem;
  }

  .about-tag {
    align-items: center;
    width: fit-content;
    background-color: #1f1f1f;
    padding: 0px 1.5rem 0.5rem 1.5rem;
    margin: 0 auto;
  }
  
  .about-tag p {
    font-size: 1.5rem;
  }
  
  .about-tag img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .about-txt {
    width: 100%;
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 3.75rem;
  }

  .about-crc{
    display: none;
  }
}



@media only screen and (max-width: 768px) {
  .about {
    padding: 50px 20px;
  }

  .about-txt,
  .about-sub-txt {
    width: 100%;
  }

  .about-crc {
    display: none; /* Hide the circular element on smaller screens */
  }
}














.skills {
  position: relative;
  width: 100%;
  min-height: 70vh;
  background-color: #2D67BF;
  padding: 100px 0 100px 0;
  overflow: hidden;
}

.skill-container{
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex: auto;
}

.row1 {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 6.25rem;
  white-space: nowrap;
}

.row2 {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1.25rem;
  white-space: nowrap;
}

.row3 {
  width: fit-content;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 1.25rem;
  margin-bottom: 6.25rem;
  white-space: nowrap;
}

.skill {
  /* flex: 1 0 calc(33.333% - 15px); */
  display: flex;
  flex-shrink: 0;
  padding: 1.25rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 6.25rem;
  background: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  margin-right: 1.188rem;
}

.light {
  color: #2D67BF;
}

@media only screen and (min-width: 320px) and (max-width: 390px){
  .skills{
    min-height: 30vh;
    padding: 6.25rem 1rem;
  }

  .row1 {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 6.25rem;
    white-space: nowrap;
  }

  .skill {
    display: flex;
    flex-shrink: 0;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    background: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1.188rem;
  }
}


















.projects {
  width: 100%;
  min-height: 50vh;
  padding: 6.25rem 3.125rem;
}

.project-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #1f1f1f;
  border-radius: 0.625rem;
  border: 1px solid #353535;
  padding: 0px 2rem 0.5rem 2rem;
}

.project-tag p {
  color: #fff;
  font-size: 32px;
  margin-right: 0.75rem;
  line-height: normal;
}

.project-tag img {
  width: 1.5;
  height: 1.5;
  flex-shrink: 0;
  margin-top: 6px;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: inherit;
  margin-top: 3.125rem;
  /* gap: 60px; */
}

.project1 {
  position: relative;
  width: 26.563rem;
  height: 30.313rem;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 12px;
  overflow: hidden;
  border: 1px solid #353535;
}

.p1-img {
  width: 401px;
  height: 389px;
  background: url('../assets/p1-min.jpg');
  background-size: cover;
  background-position: center;
  background-color: #141414;
  border-radius: 15px;
}


.p1-txt {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.project2 {
  position: relative;
  width: 26.563rem;
  height: 30.313rem;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 12px;
  overflow: hidden;
  border: 1px solid#353535;
}

.p2-img {
  width: 401px;
  height: 389px;
  background: url('../assets/oyelabs.jpg');
  background-size: cover;
  background-position: center;
  background-color: #141414;
  border-radius: 15px;
}

.p2-txt {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.project3 {
  position: relative;
  width: 26.563rem;
  height: 30.313rem;
  background-color: #1f1f1f;
  border-radius: 20px;
  padding: 12px;
  overflow: hidden;
  border: 1px solid#353535;
}

.p3-img {
  width: 401px;
  height: 389px;
  background-color: #141414;
  border-radius: 15px;
  background: url('../assets/p3-min.png');
  background-size: cover;
  background-position: center;
  
}

.p3-txt {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0.5rem;
}


.hovertxt-container {
  width: 290px;
  height: 50px;
  position: relative;
  overflow: hidden;
  color: #525252;
}

.hovertxt-container p {
  position: absolute;
  transition: all 0.5s ease;
  font-size: 20px;
}

.hovertxt-p2 {
  opacity: 0;
}

.hovertxt-container .hovertxt-p2 {
  transform: translateY(50px);
  color: #fff;
}

.project1:hover .hovertxt-p1 {
  transform: translateY(-100px);
  cursor: pointer;
  opacity: 0;
}

.project1:hover .hovertxt-p2 {
  transform: translateY(0px);
  cursor: pointer;
  opacity: 1;
}

.project2:hover .hovertxt-p1 {
  transform: translateY(-100px);
  cursor: pointer;
  opacity: 0;
}

.project2:hover .hovertxt-p2 {
  transform: translateY(0px);
  cursor: pointer;
  opacity: 1;
}

.project3:hover .hovertxt-p1 {
  transform: translateY(-100px);
  cursor: pointer;
  opacity: 0;
}

.project3:hover .hovertxt-p2 {
  transform: translateY(0px);
  cursor: pointer;
  opacity: 1;
}

.view-all {
  padding: 1rem 1.625rem 1rem 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.125rem;
  border: 1px solid #4343ed;
  background: #1B1B3D;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.5s ease;
  margin: 3.125rem auto;
  cursor: pointer;
}

.view-all img {
  margin-left: 0.5rem;
}



@media only screen and (min-width: 320px) and (max-width: 390px){
  .projects {
    width: 100%;
    min-height: 50vh;
    padding: 6.25rem 1rem;
  }
  
  .project-tag {
    width: fit-content;
    background-color: #1f1f1f;
    padding: 0px 1.5rem 0.5rem 1.5rem;
    margin: 0 auto;
  }
  
  .project-tag p {
    font-size: 1.5rem;
  }
  
  .project-tag img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
    height: inherit;
    margin-top: 3.125rem;
  }
  
  .project1 {
    position: relative;
    width: 26.563rem;
    height: 30.313rem;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
    border: 1px solid #353535;
    margin-bottom: 1rem;
  }
  
  .p1-img {
    width: 100%;
  }

  .project2 {
    position: relative;
    width: 26.563rem;
    height: 30.313rem;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
    border: 1px solid #353535;
    margin-bottom: 1rem;
  }
  
  .p2-img {
    width: 100%;
  }

  .project3 {
    position: relative;
    width: 26.563rem;
    height: 30.313rem;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
    border: 1px solid #353535;
    margin-bottom: 1rem;
  }
  
  .p3-img {
    width: 100%;
  }

}













































.exp {
  width: 100%;
  min-height: 90vh;
  padding: 100px 0 100px 50px;
}

.exp-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #1f1f1f;
  border-radius: 0.625rem;
  border: 1px solid #353535;
  padding: 0px 32px 8px 32px;
}

.exp-tag p {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 0.75rem;
  line-height: normal;
}

.exp-tag img {
  width: 1.5;
  height: 1.5;
  flex-shrink: 0;
  margin-top: 6px;
}

.exp-title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 3.125rem;
}

.exp-list{
  width: 90%;
  height: auto;
  /* background-color: #353535; */
  margin-top: 1rem;
}

.exp1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #1c1c1c;
  color: #fff;
  transition: all 0.3s ease;
  border: 1px solid #353535;
}

.exp1-company{
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: #1b1b3d; */
}

.exp1-company h1{
  font-weight: 500;
  color: #fff;
  padding-left: 2rem;
}

.exp1-title{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #303067; */
}

.exp1-title h1{
  color: #858585;
  font-weight: 500;
}

.exp1-date{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #25259b; */
}

.exp1-date h1{
  color: #858585;
  font-weight: 500;
}

.exp1:hover{
  background-color: #2D67BF;
}

.exp1:hover .exp1-title h1{
  color: #fff;
}

.exp1:hover .exp1-date h1{
  color: #fff;
}

.exp2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #1c1c1c;
  color: #fff;
  transition: all 0.3s ease;
  margin-top: 1rem;
  border: 1px solid #353535;

}

.exp2-company{
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: #1b1b3d; */
}

.exp2-company h1{
  font-weight: 500;
  color: #fff;
  padding-left: 2rem;
}

.exp2-title{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #303067; */
}

.exp2-title h1{
  color: #858585;
  font-weight: 500;
}

.exp2-date{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #25259b; */
}

.exp2-date h1{
  color: #858585;
  font-weight: 500;
}

.exp2:hover{
  background-color: #2D67BF;
}

.exp2:hover .exp2-title h1{
  color: #fff;
}

.exp2:hover .exp2-date h1{
  color: #fff;
}


.exp3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #1c1c1c;
  color: #fff;
  transition: all 0.3s ease;
  margin-top: 1rem;
  border: 1px solid #353535;

}

.exp3-company{
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: #1b1b3d; */
}

.exp3-company h1{
  font-weight: 500;
  color: #fff;
  padding-left: 2rem;
}

.exp3-title{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #303067; */
}

.exp3-title h1{
  color: #858585;
  font-weight: 500;
}

.exp3-date{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  width: 30%;
  height: 100%;
  /* background-color: #25259b; */
}

.exp3-date h1{
  color: #858585;
  font-weight: 500;
}

.exp3:hover{
  background-color: #2D67BF;
}

.exp3:hover .exp3-title h1{
  color: #fff;
}

.exp3:hover .exp3-date h1{
  color: #fff;
}




/* @media only screen and (max-width: 1000px) {
  .exp1-title h1,
  .exp1-date h1,
  .exp2-title h1,
  .exp2-date h1,
  .exp3-title h1,
  .exp3-date h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 900px) {
  .exp1-title h1,
  .exp1-date h1,
  .exp2-title h1,
  .exp2-date h1,
  .exp3-title h1,
  .exp3-date h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .exp1-title h1,
  .exp1-date h1,
  .exp2-title h1,
  .exp2-date h1,
  .exp3-title h1,
  .exp3-date h1 {
    font-size: 20px;
  }
} */

/* @media only screen and (max-width: 700px) {

  .exp{
    min-height: 110vh;
    padding: 60px 0 60px 50px;
  }

  .exp1 {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .exp1-company{
    width: 100%;
    height: 100%;
  }
  
  .exp1-company h1{
    padding-left: 0rem;
  }
  
  .exp1-title{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  
  .exp1-date{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }

  .exp2 {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .exp2-company{
    width: 100%;
    height: 100%;
  }
  
  .exp2-company h1{
    padding-left: 0rem;
  }
  
  .exp2-title{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  
  .exp2-date{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }

  .exp3 {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .exp3-company{
    width: 100%;
    height: 100%;
  }
  
  .exp3-company h1{
    padding-left: 0rem;
  }
  
  .exp3-title{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  
  .exp3-date{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
} */


@media only screen and (max-width: 390px) {
  .exp{
    width: 100%;
    min-height: 50vh;
    padding: 6.25rem 1rem;
    /* background-color: #1B1B3D; */
  }

  .exp-list{
    width: 100%;
  }
  
  .exp1 {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .exp1-company{
    width: 100%;
    height: 100%;
  }
  
  .exp1-company h1{
    padding-left: 0rem;
  }
  
  .exp1-title{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  
  .exp1-date{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }

  .exp2 {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .exp2-company{
    width: 100%;
    height: 100%;
  }
  
  .exp2-company h1{
    padding-left: 0rem;
  }
  
  .exp2-title{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }
  
  .exp2-date{
    padding-left: 0rem;
    width: 100%;
    height: 100%;
  }


  .exp1-title h1,
  .exp1-date h1,
  .exp2-title h1,
  .exp2-date h1 {
    font-size: 1.25rem;
  }
  
  .exp-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3.125rem;
  }
}










.extra-projects{
  width: 100vw;
  min-height: 120vh;
  padding: 100px 50px 100px 50px;
}

.e-txt{
  width: 45%;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 150%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 2.813rem;
}

.e-img-container{
  display: flex;
  flex: auto;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: nowrap;
  overflow: hidden;
  /* background-color: #1f1f1f; */
  margin-top: 6.25rem;
}

.e1, .e3, .e5{
  width: 25rem;
  height: 26.625rem;
}

.e2, .e4{
  width: 25rem;
  height: 33rem;
}

.e5{
  padding-right: 15px;
}

@media only screen and (max-width: 390px) {
  .extra-projects{
    padding: 6.25rem 1rem;
  }

  .e-txt{
    width: 100%;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 180%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .e1, .e3, .e5{
    width: 18.75rem;
    height: 20.375rem;
  }
  
  .e2, .e4{
    width: 18.75rem;
    height: 26.75rem;
  }
}
